streamlit>=1.35.0
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-text-splitters==0.2.4
langchain-huggingface==0.0.3
faiss-cpu==1.8.0
pypdf==4.3.1
sentence-transformers==2.7.0
huggingface_hub==0.24.6
python-dotenv>=1.0.1
